<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing123</title>
  </head>
  <body>
    <h1>AWS Test</h1>
    <p>If you can read this then I got this page to the internet on AWS.</p>
  </body>
</html>
