.<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Economist to be Named Later</title>
  </head>
  <body>

  </body>
</html>

<h1>Welcome to the home page for <i>The Economist to be Named Later</i>.</h1>
<p>If you can read this then I succeded in getting Capistrano to play well with AWS.</p>
